DEBUG=True
SECRET_KEY=django-insecure-y2l0w@$+)&i-p45-su$@k9yl#a(3k#7i6cvk&54vz#$jpg1str
GROQ_API_KEY=your_Groq_api_key

# PostgreSQL Settings
DB_NAME=studyintelli_db
DB_USER=postgres
DB_PASSWORD=your_DB_password
DB_HOST=127.0.0.1
DB_PORT=5432
